{% extends 'base.html' %}
{% block content %}

<h2 class="page-title">Add Movie</h2>

<form method="POST" class="form-box">
    {{ form.hidden_tag() }}

    <label>Movie Name</label>
    {{ form.title(class="form-control") }}

    <label class="mt-2">Genre</label>
    {{ form.genre(class="form-select") }}

    <label class="mt-2">Rating (1-5)</label>
    {{ form.rating(class="form-control") }}

    <label class="mt-2">Poster URL</label>
    {{ form.poster(class="form-control") }}

    <label class="mt-2">Description / Review</label>
    {{ form.description(class="form-control", rows=4) }}

    <button class="btn btn-primary w-100 mt-3">Add Movie</button>
</form>

{% endblock %}
